.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #626977;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App_form {
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
  padding: 50px 50px;
  background-color: #191F2B;
  border-radius: 20px;
}

textarea {
  width: calc(50%);
  padding: 70px;
  margin-bottom: 40px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

select {
  width: calc(20%);
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 35%;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

label {
  color: white;
  margin: 10px;
}

h2 {
  color: white;
  padding-bottom: 20px;
}

.App_footer {
  color: white;
  margin-bottom: 40px;
}
